/* Reset some basic elements */
h1,
h2,
h3 {
    font-family: 'Italiana', serif;
}

body,
p {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Hide horizontal scroll */
}

* {
    box-sizing: border-box;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Basic styling */
body {
    margin: 0;
    /* Removes the default margin provided by the browser */
    padding: 0;
    /* Removes the default padding provided by the browser */
    background-color: #212529;
    /* Sets the background color of the page */
    font-family: 'Roboto', sans-serif;
    /* Sets the default font for the page */
}

main {
    padding-top: 72px;
    /* Adjust the value based on the height of your toolbar */
    /* Rest of your styles... */
}

.toolbar {
    position: fixed;
    /* Fixed position relative to the viewport */
    top: 0;
    /* Align to the top of the viewport */
    left: 0;
    /* Align to the left of the viewport */
    width: 100%;
    /* Span the full width of the viewport */
    background: transparent;
    /* Your preferred background color */
    z-index: 1000;
    /* High z-index to ensure the toolbar is above other content */
}

.toolbar ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
    display: flex;
    /* Use flexbox for horizontal layout */
    justify-content: center;
    /* Center the items horizontally */
}

.toolbar li {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 24px;
    padding-bottom: 24px;
    /* Add some padding around each nav item */
}

.toolbar a {
    text-decoration: none;
    /* Remove underline from links */
    color: #F8F9FA;
    /* Set a text color */
    font-family: 'Italiana', serif;
    /* Apply the 'Italiana' font */
    font-size: 20px;
    /* Adjust the font size as needed */
    transition: color 0.3s ease;
    /* This enables the smooth color transition */
}

/* Add a hover effect for navigation items */
.toolbar a:hover {
    color: #FF0054;
    /* Lighten the color on hover */
    transition: color 0.3s ease;
    /* This ensures the transition also applies when mouse leaves the link */
}

#landing {
    position: relative;
    width: 100vw;
    height: calc(100vh - 72px);
    overflow: hidden;
    color: #343A40;
    /* Text color */
    font-family: 'Italiana', serif;
    margin-bottom: 5vh;
}

.full-width-name {
    position: absolute;
    z-index: 1;
    /* Lower z-index so it's under the image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: auto;
    /* Let the height be automatic */
    font-size: calc(15vw + 15vh);
    /* Adjust the size as needed */
    line-height: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-justified {
    align-self: flex-start;
    padding-left: 24px;
    /* Adds some space on the left */
}

.right-justified {
    align-self: flex-end;
    padding-right: 24px;
    /* Adds some space on the right */
}


.left-justified,
.right-justified {
    /* ... other styles ... */
    user-select: none;
    /* Prevent text from being selectable */
}

.tag-lines {
    position: absolute;
    top: 60vh;
    /* Adjust based on your actual layout */
    left: 20vw;
    transform: translateX(-50%);
    width: 80%;
    /* Adjust if necessary */
    text-align: left;
    z-index: 3;
    /* Make sure it's above the image and text */
}

.tag-line {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    /* Space between lines */
}

.line {
    width: 50%;
    /* Adjust based on design */
    margin-right: 1rem;
    /* Space between line and text */
}

.tag-text {
    color: #F8F9FA;
    white-space: nowrap;
    /* Ensure text does not wrap */
    font-family: 'Roboto', sans-serif;
    /* Use your desired font here */
    font-size: 1rem;
    /* Adjust to your preference */
}

.tag-line:nth-child(1) .line {
    border: 1px solid #FF0054;
    /* First line color */
}

.tag-line:nth-child(2) .line {
    border: 1px solid #FB36FF;
    /* Second line color */
}

.tag-line:nth-child(3) .line {
    border: 1px solid #42FFED;
    /* Third line color */
}

/* ... Rest of your styles ... */

.indexer {
    position: relative;
    z-index: 2;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 equal columns */
    grid-gap: 50px;
    /* This is the gutter between columns */
    margin: 0 100px;
    /* Margin on the sides */
}

.content-item img {
    /* Styles for content items */
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    opacity: 0.8;
    margin-top: 10vh;
}

.second-column {
    grid-column: 2/3;
}

.third-column {
    grid-column: 3/4;
}

.scroll-indicator {
    position: absolute;
    top: 30%;
    /* Adjust as necessary to align with 'hasha' */
    right: 15%;
    /* Adjust as necessary for spacing from the right edge */
    z-index: 4;
    /* Ensure it's above other elements */
    cursor: pointer;
    /* Change cursor to indicate interactivity */
}

.scroll-wheel {
    width: 24px;
    /* Size of the scroll indicator */
    height: 24px;
    /* Size of the scroll indicator */
    border: 2px solid #DEE2E6;
    /* Scroll wheel color */
    border-radius: 12px;
    /* Half of the width/height to make it round */
    position: relative;
}

.scroll-wheel::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 50%;
    width: 2px;
    /* Width of the scroll line */
    height: 8px;
    /* Height of the scroll line */
    background-color: #DEE2E6;
    /* Scroll line color */
    transform: translateX(-50%);
    animation: scroll-wheel-animation 2s infinite;
    /* Apply the animation */
}

/* Keyframes for the scroll wheel animation */
.scroll-wheel::before {
    /* ... existing styles ... */
    animation: scroll-wheel-animation 2s infinite;
    /* Apply the animation */
}

@keyframes scroll-wheel-animation {
    0% {
        top: 4px;
        opacity: 0;
        background-color: #FF0054;
        /* Starting color */
    }

    30% {
        opacity: 1;
        background-color: #FB36FF;
        /* Intermediate color */
    }

    70% {
        top: 12px;
        opacity: 1;
        background-color: #42FFED;
        /* End color */
    }

    100% {
        top: 12px;
        opacity: 0;
        background-color: #42FFED;
        /* Ensure it fades out to the same end color */
    }
}


.scroll-indicator:hover .scroll-wheel {
    animation-play-state: paused;
    /* Pause animation on hover */
}


/* Style for the About Section */
#about {
    position: relative;
    width: 100vw;
    height: calc(100vh);
    overflow: hidden;
    color: #343A40;
    /* Text color */
    font-family: 'Italiana', serif;
    margin-bottom: 5vh;
}

.about-background-text {
    position: absolute;
    z-index: 1;
    /* Lower z-index so it's under the image */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: auto;
    /* Let the height be automatic */
    font-size: calc(15vw + 15vh);
    /* Adjust the size as needed */
    line-height: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-justified {
    align-self: flex-start;
    padding-left: 24px;
    /* Adds some space on the left */
}

#projects {
    position: relative;
    width: 100vw;
    height: calc(100vh);
    overflow: hidden;
    color: #343A40;
    /* Text color */
    font-family: 'Italiana', serif;
    margin-bottom: 5vh;
}

.projects-background-text {
    position: absolute;
    z-index: 1;
    /* Lower z-index so it's under the image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: auto;
    /* Let the height be automatic */
    font-size: calc(12vw + 12vh);
    /* Adjust the size as needed */
    line-height: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-justified {
    align-self: flex-start;
    padding-left: 24px;
    /* Adds some space on the left */
}

.right-justified {
    align-self: flex-end;
    padding-right: 24px;
    /* Adds some space on the right */
}


.left-justified,
.right-justified {
    /* ... other styles ... */
    user-select: none;
    /* Prevent text from being selectable */
}

#contact {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    color: #343A40;
    /* Text color */
    font-family: 'Italiana', serif;
}

.contact-background-text {
    position: absolute;
    z-index: 1;
    /* Lower z-index so it's under the image */
    top: 25%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: auto;
    /* Let the height be automatic */
    font-size: calc(12vw + 12vh);
    /* Adjust the size as needed */
    line-height: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-justified {
    align-self: flex-start;
    padding-left: 24px;
    /* Adds some space on the left */
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    background-color: #343A40;
    color: #fff;
    text-align: center;
}

.footer-column {
    padding: 10px;
}

/* Style for links */
footer a {
    color: #F8F9FA;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FF0054;
    /* Lighten the color on hover */
    transition: color 0.3s ease;
    /* This ensures the transition also applies when mouse leaves the link */
}