*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: lightgray;
  background: black;
}

ul {
  list-style: none;
}

a{
  color: lightgray;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid lightgray;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  background: black;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  font-size: 14px;
  padding: 1vh;
}

.main-nav .logo {
  width: 150px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li i {
  padding: 0 5px;
}

.main-nav ul li a {
  color: lightgray;
  text-decoration: none;
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 1px solid lightgray;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
  cursor: pointer;
  position:absolute;
  top: 32px;
  right: 32px;
  z-index: 3;
  display: none;
}

.showcase {
  background-image: url('../img/showcase.jpg');
  background-size: cover;
  background-position: center;
  height: 86vh;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.showcase:after {
  content: '';
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  height: 86vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 60px 50px 200px black, inset -60px -50px 200px black;
}

.showcase h1 {
  font-size: 60px;
  z-index: 2;
}

.showcase .logo-showcase {
  width: 400px;
  z-index: 2;
}

.showcase p {
  font-size: 20px;
  z-index: 2;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 20px 0;
}

.cards img {
  width: 100%;
  margin-bottom: 20px;
}

.cards h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.cards p {
  font-size: 14px;
}

.cards a{
  display: inline-block;
  padding-top: 10px;
  color: lightgray;
  text-decoration: none;
  font-size: 14px
}

.cards a:hover {
  border-bottom: 1px solid lightgray;
}

.page-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  background: black;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links h2 {
  padding-bottom: 10px;
  font-size: 30px;
}

.links ul li {
  padding: 10px 0px;
  border-bottom: rgb(75, 75, 75) 1px solid;
}

.links ul li:last-child {
  border-bottom: none;
}

.profile-intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin: 20px 0;
}

.profile-intro h3 {
  padding: 0 0 10px 0;
}

.box-1 p, .box-2 p, .box-3 p, .box-4 p {
  padding-bottom: 14px;
}

.box-3{
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.box-3 ul li h5 {
  display: inline;
  font-size: 15px;
}

.box-3 ul li:last-child {
  padding-bottom: 14px;
}

.box-3 .logos {
  display: none;
  width: 50%;
}

.modules {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.module-r {
  text-align: end;
}

.footer {
  background: black;
  color: lightgray;
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.footer div {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.footer ul {
  display: none;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 0px;
}

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background: black;
    width: 50%;
    height: 100%;
    border-right: rgb(75, 75, 75) 3px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: rgb(75, 75, 75) 1px solid;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px)
  }

  .cards {
    grid-template-columns: 1fr;
    margin: 20px 50px;
  }

  .cards img {
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin: 20px 0;
  }

  .modules {
    display: grid;
  }

  .module-l {
    padding-bottom: 14px;
  }

  .module-r {
    text-align: left;
  }
}