/* Reset some basic elements */
h1,
h2,
h3 {
    font-family: 'Italiana', serif;
}

body,
p {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Hide horizontal scroll */
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Basic styling */
body {
    margin: 0;
    /* Removes the default margin provided by the browser */
    padding: 0;
    /* Removes the default padding provided by the browser */
    background-color: #212529;
    /* Sets the background color of the page */
    font-family: 'Roboto', sans-serif;
    /* Sets the default font for the page */
}

.toolbar {
    width: 100%;
    /* Full width */
    background: transparent;
    /* Temporary background color for visibility */
    overflow: hidden;
    /* Clear floats */
}

.toolbar ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
    display: flex;
    /* Use flexbox for horizontal layout */
    justify-content: center;
    /* Center the items horizontally */
}

.toolbar li {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 24px;
    padding-bottom: 24px;
    /* Add some padding around each nav item */
}

.toolbar a {
    text-decoration: none;
    /* Remove underline from links */
    color: #F8F9FA;
    /* Set a text color */
    font-family: 'Italiana', serif;
    /* Apply the 'Italiana' font */
    font-size: 20px;
    /* Adjust the font size as needed */
    transition: color 0.3s ease;
    /* This enables the smooth color transition */
}

/* Add a hover effect for navigation items */
.toolbar a:hover {
    color: #FF0054;
    /* Lighten the color on hover */
    transition: color 0.3s ease;
    /* This ensures the transition also applies when mouse leaves the link */
}

#landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #343A40;
    /* Text color */
    font-family: 'Italiana', serif;
}

.full-width-name {
    position: absolute;
    z-index: 1;
    /* Lower z-index so it's under the image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: auto;
    /* Let the height be automatic */
    font-size: calc(15vw + 15vh);
    /* Adjust the size as needed */
    line-height: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-justified {
    align-self: flex-start;
    padding-left: 24px;
    /* Adds some space on the left */
}

.right-justified {
    align-self: flex-end;
    padding-right: 24px;
    /* Adds some space on the right */
}

.image-container {
    position: absolute;
    z-index: 2;
    /* Higher z-index so it's above the text */
    top: 25vh;
    left: 20vw;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 20vw;
    object-fit: cover;
    /* Cover the area without stretching */
    display: block;
    /* Remove any extra space below the image */
    opacity: 0.5;
}


.left-justified,
.right-justified {
    /* ... other styles ... */
    user-select: none;
    /* Prevent text from being selectable */
}


/* Style for the About Section */
#about {
    /* Add your styles for the about section */
}

/* Style for the Projects Section */
#projects {
    /* Add your styles for the projects section */
}

/* Style for the Contact Section */
#contact {
    /* Add your styles for the contact section */
}

footer {
    /* Add your styles for the footer */
}